{% extends 'base.html' %}
{% block pagetitle %}
{{title}}
{% endblock pagetitle %}
{% block body %}

<div class="container">
  <div class="text-right" style="position: absolute; top: 20px; right: 20px;">
    <button id="playBtn" onclick="speakText()" class="btn btn-light">🔊</button>
    <button id="stopBtn" onclick="stopSpeech()" class="btn btn-danger" style="display: none;">⏹</button>
  </div>

  <div class="row mb-5 text-center text-white">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-4" style="padding-top: 2%; font-weight: 400; color: rgb(4, 54, 4);">
        <b>{{title}}🍂</b>
      </h1>
    </div>
  </div>

  <center>
    <div class="col">
      <div class="p-3 bg-white shadow rounded-lg w-100 w-md-50 w-lg-30">
        <img src="{{image_url}}" width="350" height="350">
      </div>
    </div>
  </center>
  <br>

  <div class="row">
    <div class="col mx-auto">
      <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
        <h5><b>
          {% if pred in [3,5,7,11,15,18,20,23,24,25,28,38] %}
          Tips to Grow Healthy Plants :
          {% else %}
          Brief Description :
          {% endif %}
        </b></h5>
        <p id="desc">{{desc}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mx-auto">
      <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
        <h5><b>
          {% if pred in [3,5,7,11,15,18,20,23,24,25,28,38] %}
          Benefits :
          {% else %}
          Prevent This Plant Disease By Following These Steps :
          {% endif %}
        </b></h5>
        <p id="prevent">{{prevent}}</p>
      </div>
    </div>

    {% if pred != 4 %}
    <div class="col mx-auto">
      <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
        <center>
          <h5><b>
            {% if pred in [3,5,7,11,15,18,20,23,24,25,28,38] %}
            Fertilizer :
            {% else %}
            Supplements :
            {% endif %}
          </b></h5>
          <br>
          <img src="{{ simage if simage else '/static/default.jpg' }}" width="300" height="350">
          <br><br>
          <h6 id="sname">{{sname}}</h6>
          <a target="_blank" href="{{buy_link}}">
            <button type="button" class="btn btn-success btn-buy">Buy Product</button>
          </a>
        </center>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<script>
  let speech = new SpeechSynthesisUtterance();
  let isSpeaking = false;

  function speakText() {
    let description = document.getElementById("desc").innerText;
    let prevention = document.getElementById("prevent").innerText;
    let supplement = document.getElementById("sname").innerText;

    let fullText = description + ". " + prevention + ". " + "Recommended supplement or fertilizer is: " + supplement + ".";

    if (!isSpeaking) {
      speech.text = fullText;
      speech.lang = "en-US"; 
      speech.rate = 1;
      speech.pitch = 1;

      window.speechSynthesis.speak(speech);
      isSpeaking = true;

      document.getElementById("playBtn").style.display = "none";
      document.getElementById("stopBtn").style.display = "inline-block";
    }
  }

  function stopSpeech() {
    window.speechSynthesis.cancel();
    isSpeaking = false;

    document.getElementById("playBtn").style.display = "inline-block";
    document.getElementById("stopBtn").style.display = "none";
  }

  speech.onend = function () {
    isSpeaking = false;
    document.getElementById("playBtn").style.display = "inline-block";
    document.getElementById("stopBtn").style.display = "none";
  };
</script>

<style>
  .btn-buy {
    background-color: #28a745;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
  }
  .btn-buy:hover {
    background-color: #218838;
  }
</style>

{% endblock body %}
